{
  "env": {
    "development": {
      "presets": [
        "@babel/env"
      ]
    },
    "es5": {
      "presets": [
        [
          "@babel/env",
          {
            "modules": false
          }
        ]
      ]
    }
  },
  "ignore": [
    "./node_modules",
    "./lib",
    "./dist/index.js"
  ]
}
